.footer {
    margin-left: 380px;
    margin-right: 390px;
    padding-top: 64px;
    padding-bottom: 64px;
    border-top: 1px solid #EAEAEE;
}

.footer-list {
    list-style-type: none;

    li {
        font-weight: 600;
        font-size: 14px;
        line-height: 25px;
        color: var(--gray-light);

        a {
            color: var(--gray-light);
        }
    }
}

.footer-newsletter-title {
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: var(--primary-light);
}

.footer-newsletter-desc {
    font-size: 12px;
    color: var(--gray-light);
}

.footer-newsletter-fm {
    width: 315px;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #F5F5F7;
    border-radius: 4px;

    input {
        width: 85%;
        padding-top: 7.7px;
        padding-left: 14px;
        padding-bottom: 7.7px;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 12px;
        color: var(--gray-light);

        &::placeholder {
            color: var(--gray-light);
        }
    }

    button {
        width: 36px;
        height: 25px;
        margin-left: 11px;
        background-color: var(--accent-light);
        border: 1px solid var(--accent-light);
        border-radius: 4px;
        cursor: pointer;
    }
}

.footer-copyrights {
    margin-top: 54px;
    font-size: 14px;
    text-align: center;
    color: var(--primary-light);

    a {
        color: var(--primary-light);
    }
}

.footer-social {
    width: fit-content;
    margin: 11px auto 0;
    gap: 23.67px;
}